body {
    font-family: sans-serif;
    margin: 0px;
}

#mainView {
    margin: 8px;
}

.section {
    margin-bottom: 20px;
}

#runningJobsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.card {
    position: relative;
    flex: 1 0 220px; /* Flex-grow, flex-shrink, base-width */
    min-width: 220px; /* Adjusted minimum width */
    max-width: 600px; /* Allows flexibility */
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

/* Specific styling for Analytics cards */
.analytics-card {
    flex: 1 0 600px; /* Ensures it uses remaining space but can wrap */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.parameter-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.parameter-table th, .parameter-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.parameter-table th {
    background-color: #f7f7f7;
    font-weight: bold;
}

.queue-label {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 3px;
}

.running-job {
    border: 3px solid green;
    background-color: #e0f7fa;
}

.completed-job {
    border: 3px solid blue;
    background-color: #e3f2fd;
}

.upcoming-job {
    border: 3px solid orange;
    background-color: #fff3e0;
}


.task-ticker {
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    position: relative;
}

#tickerContent {
    font-size: 1em;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.card button {
    margin-top: 10px;
    background-color: #009688;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0 20px;
}

.modal {
    max-width: 80%;
}

.modal-content h4 {
    margin-bottom: 20px;
}

.modal-footer .btn {
    background-color: #f44336;
    color: #fff;
}
