body {
    font-family: sans-serif;
    margin: 0px;
}

#mainView {
    margin: 8px;
}

.section {
    margin-bottom: 20px;
}

#runningJobsContainer {
    width: 600px; /* Double the previous width */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    width: 500px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.parameter-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.parameter-table th, .parameter-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.parameter-table th {
    background-color: #f7f7f7;
    font-weight: bold;
}
